@font-face {
  font-family: "MAXWELL REGULAR";
  src: url('https://fonts.googleapis.com/css?family=Open+Sans.ttf');
}
@font-face {
  font-family: "MAXWELL LIGHT";
  src: url('../ressources/fonts/maxwell/MAXWELL LIGHT.ttf');
}
@font-face {
  font-family: "MAXWELL BOLD";
  src: url('../ressources/fonts/maxwell/MAXWELL BOLD.ttf');
}

@font-face {
  font-family: "LeagueGothic";
  src: url('../ressources/fonts/LeagueGothic/League_Gothic.otf');
}


body{
  background-color: white;
}


.parallax {
  background-image: url("../ressources/pics/1.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 400px;

}

@media only screen and (max-device-width: 1024px) {
  .parallax {
      background-attachment: scroll;
  }
}


.caption {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 400px;
}

.caption span.title {
  color: #fff;
  font-size: 450%;
  letter-spacing: 5px;
  font-family: "MAXWELL BOLD";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


h3 {
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #182a44;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "LeagueGothic";
  font-size:300%
}

h5 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #182a44;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: "LeagueGothic";
  font-size: 150%
}


.intro {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 250px;
}

.intro p {
  padding-top: 50px;
  font-size: 135%;
  letter-spacing: 1.5px;
}


.guide {
  background-color:white;
  padding:0px 250px;
}

.guide figure {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 300px;
  text-align: left;
  margin: 29px;
}
 
.guide figure img {
  width: 300px;
  height: 200px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.guide figure figcaption {
  position: absolute;
  padding-top: 8%;
  font-size: 120%;
  letter-spacing: 1.5px;
}

.guide figure span.titleLgd {
  font-family: "LeagueGothic";
  font-size: 150%;
  color: #182a44;
  letter-spacing: 2px;
}


.page{
  text-align: center;
  margin: 70px;
  font-size: 120%;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #182a44;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}


/*.top-content{
  position: relative;
  width: 100vw;
  padding-top: 50px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#it1{
      background: url(../ressources/pics//EuropeCentrale/2.jpg) no-repeat;

}

#it2{
      background: url(../ressources/pics/EuropeNord/2.jpg) no-repeat;

}

#it3{
      background: url(../ressources/pics/EuropeOuest/1.jpg) no-repeat;

}

.top-content::after{
  width: 100%;
  height: 100%;
  position: absolute;
  content:' ';
  top: 0;
  left: 0;  
  background: rgba(21,41,74,0.8);
}
.img-responsive2{
  position: relative;
  z-index:2;
  left: 0;
  display: block;
  bottom: 0;
  max-width: 100%;
  height: auto;
}

.svg_div{
  width: 704.667px;
  height: 400px;
  background-size: contain;
  transform: scale(0.8);
  position: relative;
  z-index: 2;
  margin-top: 10px;
  
}

.top-content p{
  color:white;
  z-index:3;
}

.top-head{
  margin-top: 60px;
  font-size:190%;
  font-family: "LeagueGothic";
  letter-spacing: 5px;
}

.top-subtitle{
  margin-top: 20px;
  font-size: 150%;
  font-family: "MAXWELL LIGHT";
  word-spacing: 5px;
}

.top-head:before,
.top-head:after {
    background-color: #FFF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 200%;

}
.top-head:before {
    right: 0.5em;
    margin-left: -200%;
     background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
}
.top-head:after {
   background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1));
    left: 0.5em;
    margin-right: -200%;
}

